*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: cursive;
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-attachment: fixed;
}
.container1{
    max-width: 100%;
    margin: 0 auto;
}
.header1{
    display: flex;
    position: relative;
    width: 100%;
}
.menu1{
    position: absolute;
    top: 20px;
    float: left;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    background-color: green;
    border-radius: 25px 0px 0px 25px;
    width: 50%;
}
.logo1{
    color: rgb(144, 238, 168);
    font-size: 25px;
    left: 25px;
    top: 30px;
    font-weight: 800;
    position: relative;
    width: 10%;
    height: 100%;
}
.navbar1{
    width: 100%;
    height: 100%;
}
.navbar1 ul li{
    position: relative;
    float: left;
    width: 14%;
    height: 70px;
}
.navbar1 ul li a{
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(13, 34, 18);
    display: block;
    text-align: center;
    font-weight: 600;
    height: 100%;
}
.navbar1 ul li:hover{
    background-color: rgb(37, 108, 21);
    transition: calc(1.2s);
}
.somos1{
    text-align: center;
}
.somos1:hover{
    background-color: rgb(37, 108, 21);
    transition: calc(1.2s);
    border-radius:25px 0px 0px 25px;
}
.contacto1 ul:hover{
    transition: calc(1.2s);
    background-color: rgb(89, 155, 78);
    border-radius: 25px 25px 25px 25px;
    width: 100%;
    height: auto;
}

.navbar1 ul li:hover ul{
    text-decoration: none;
    display: block;
    border-radius: 0px 0px 10px 10px; 
}
#menu1{
    display: none;
}
.menu1 label{
    cursor: pointer;
    display: none;
}
.header-info1{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    top: 50px;
    right: 50px;
    color: white;
}
.header-img1{
    width: 50%;
    position: relative;
    top: 30px;
    height: 100%;
    padding: 50px 50px 50px 50px;
}
.header-text1{
    width: 50%;
    height: 100%;
}
.header-img1 img{
    width: 40%;
    height: 150px;
    padding: 3px;
    border: 2px solid rgb(255, 255, 255);
    margin: 10px;
}
.header-img1 img:hover{
    opacity: 1.2;
    transform: scale(1.1);
    transition: 0.8s;
}
footer {
    background-color: green;
    color: #050505;
    text-align: center;
    padding: 10px 0px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}




.color{
    color: white;
}
.logo{
    color: white;
    font-size: 25px;
    font-weight: 800;
}

.bg{
    position: absolute;
    width: 50%;
    height: 600px;
    z-index: -1;
    right: 0px;
    border-radius: 50px 0px 0px 600px;
    top: 20px;
}
.bg2{
    position: absolute;
    width: 50%;
    height: 600px;
    z-index: -1;
    left: 0;
    border-radius:00px 50px 500px 000px;
}
.header-info2{
    display: flex;
    align-items: center;
    margin-top: 100px;
    position: relative;
   
}
.header-txt2{
    width: 50%;

}
.header-txt2 h1{
    font-size: 55px;
    line-height: 70px;
    font-weight: 600;
    color: black;
    margin-bottom: 25px;
    text-transform: capitalize;

}
.header-txt2 p{
    font-size: 16px;
    color: grey;
    margin-bottom: 35px;
}
.btn-1{
    display:inline-block;
    background-color: green;
    padding: 13px 30px;
    border-radius: 25px;
    color: white;
    text-transform: capitalize;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.btn-1:hover{
    background-color: forestgreen;
}
.header-img2{
    width: 80%;
}
.move{
   width: 70%;
   height: 70%;
   position: relative;
   padding: 30px;
   top: -50px;
   left: 120px;
   
}
.atencion2{
    width: 70%;
   height: 70%;
   position: relative;
   padding: 30px;
}
.info{
    padding: 100px;
    display: flex;
    justify-content: space-between;
}
.info-1{
    width: 300px;
    padding: 15px 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    text-align: center;
}
.info-1 img{
    width: 35px;
}
.info-1 h3{
    font-size: 18px;
    color: white;
    margin-bottom: 10px;

}
.info-1 p{
    font-size: 16px;
    color:white;
}
.nosotros2{
    position: relative;
}
.nosotros-info2{
    padding: 100px 0;
    display: flex;
    align-items: center;
    top: -60px;
    position: relative;
}
.nosotros-img2{
    width: 80%;
    position: relative;
    top: -30px;
}
.nosotros-txt2{
    width: 50%;
}
.nosotros-txt2 span{
    font-size: 16px;
    color: green;
    font-weight: 700;
    margin-bottom: 25px;
}
.nosotros-txt2 h2{
    font-size: 45px;
    color: white;
    margin-bottom: 30px;
}
.nosotros-txt2 p{
    font-size: 18px;
    color: white;
    margin-bottom: 50px;

}
.products{
    padding: 80px 0;
    text-align: center;
}
.products h2{
    font-size: 45px;
    color: white;
    margin-bottom: 30px;
}

.products-info{
    display: grid;
    grid-template-columns: repeat(3,9fr);
    grid-auto-rows: auto;
    grid-gap: 3rem;
    position: relative;
    top: 30px;
}
.product{
    padding-bottom: 35px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
}
.products img{
    width: 100%;
    height: 250px;
    border-radius: 25px 25px 0 0;
}
.product h3{
    font-size: 20px;
    color: white;
    margin-top: 15px;
}
.product p{
    font-size: 16px;
    padding: 30px;
    color: white;
    margin: 0px;
}
.product b{
    font-size: 16px;
    padding: 30px;
    color: white;
    margin: 0px;
   
}
.product span{
    background-color: green;
    padding: 10px;
    color: white;
    border-radius: 15px;
}
hr{
    border: 1px solid white;
}
.footer-links{
    display: flex;
    justify-content: space-between;
}
.link h3{
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
}
.socials img{
    margin-right: 15px;
}

@media(max-width:1209px){
    .header-info1{
        width: 100%;
        height: 100%;
        top: 150px;
    }
    .header-txt1{
        width: 35%;
        height: 100%;
    }
    .header-img1{
        width: 65%;
        height: 100%;
        display: flex;
    }
    .header-img1 img{
        width: 33%;
        height: 200px;
        position: relative;
        top: -40px;
        right: 30px;

    }
    .pc4{
        display: none;
    }
}
@media(max-width: 880px){
    .menu1{
        padding:20px;
        width: 25%;
        float: left;
        position: absolute;
        background-color: rgb(127, 215, 150);
        border-radius: 25px 0px 0px 25px;
        float: left;
        top: 20px;
        
    }
    .menu1 label{
        display:initial;
    }
    .navbar1{
        position: absolute;
        top: 100%;
        left: 0px;
        right: 0px;
        background-color: rgb(18, 57, 58);
        border-radius: 25px 0px 0px 25px;
    }
    .navbar1 ul li{
        width: 100%;
        background-color: rgb(18, 57, 58);
        border-radius: 20px 0px 0px 20px;
    }
    .navbar1 ul li a{
        color: rgb(244, 240, 240);
    }
    .navbar1 ul li:hover{
        color: rgb(0, 0, 0);
        background-color: rgb(45, 208, 88);
        border-radius: 0px;
    }
    .contacto1 ul{
        width: 100%;
        background-color: rgb(25, 51, 54);;
    }
    .contacto1 ul:hover{
        background-color: rgb(25, 51, 54);
    }
    .contacto1:hover{
        background-color: rgb(0, 0, 0);
        transition: calc(1.2s);
        color: white;
        border-radius: 20px 0px 0px 20px;
    }
    .uno1{
        background-color: rgb(25, 51, 54);
        color: white;
        border-radius: 20px 0px 0px 20px;
    }
    #menu1:checked ~ .navbar{
        display: initial;
    }
    .header1{
        width: 100%;
    }
    .header-info1{
        flex-direction: column;
        padding: 30px;
        top: 120px;
        left: -50px;
        height: 1000%;
        width: 100%;
    }
    .header-text1{
        width: 100%;
        padding: 0px;
        left: -60px;
        position: relative;
        text-align: center;
        height: 50%;
    }
    .header-text1 h1{
        font-size: 40px;
        position: absolute;
        top: -50px;
        width: 100%;
    }
    .header-text1 p{
        font-size: 20px;
        position: relative;
        width: 100%;
        top: 90px;
        width: 80%;
        left: 90px;
    }
    .logo1{
        width: 40%;
        position: absolute;
        height: auto;
        top: -70px;
    }
    .header-img1{
        width: 100%;
        text-align: center;
        padding: 50px;
        height: 50%;
        top: 150px;
        align-items: center;
        display: inline-block;
        left: -10px;
    }
    .header-img1 img{
        width: 40%;
        height: 200px;
    }
    .pc3{
        display: none;
    }
    .products {
        padding: 30px;
        text-align: center;
        position: relative;
        top: 100px;
    }
    .products h2{
        font-size: 40px;
        padding: 0px 100px 0px 0px;

    }
    .color{
        padding: 0px;
        margin-bottom: 40px;
        position: relative;
        left: -10px;
        width: 80%;
        height: 200px;
    }
    .products-info{
        grid-template-columns: repeat(1,1fr);
    }
    .product p{
        padding: 30px;
    }
    .move{
        display: none;
    }
    .atencion2{
        display: none;
    }
    .bg{
        display: none;
    }
    .header-text2{
        position: relative;
        left: 100px;
    }
    .header-text2 p{
        position: relative;
        top: -100px;
    }
    .bg2{
        width: 100%;
        position: absolute;
        border-radius: 0px;
        height: 400px;

    }
    .nosotros-img2{
        display: none;
    }
    .nosotros-txt2{
        width: 100%;
        text-align: center;
    }
    .nosotros-info2{
        position: relative;
        width: auto;
    }
    .nosotros-txt2 p{
        color: black;
    }
    .nosotros-txt2 span{
        display: none;
    }
    .container40{
        left: 0px;
    }
    .container43{
        display: none;
    }
    .container41{
        width: 70%;
    }
    .container42{
        width: 70%;
    }
    .texto4{
        font-size: 13px;
    }
    .container511{
        display: none;
    }
    .barra51{
        font-size: 12px;
    }
    .container54{
        display: none;
        width: 20%;

    }
    .container52{
        text-align: center;
        font-size: 12px;
        left: 150px;

    }
    .container53{
        width: 100%;
        height: auto;
        position: relative;
        margin: 0px 200px 0px 0px;
    }
    .blog{
        position: relative;
        top: 20px;
    }
}
.container4{
    max-width: 1200px;
    margin: 0 auto;
}
.header{
    position: relative;
    width: 100%;
    height: 1000px;
}
.logo{
    color: white;
    font-size: 25px;
    font-weight: 800;
}
.container40{
    display: flex;
    width: 100%;
    height: 800px;
    top: 200px;
    position: relative;
}
.container41{
    position: relative;
    width: 33%;
    height: 100%;
    color: white;
    display: inline-block;
    margin: 10px;
}
.container42{
    position: relative;
    width: 33%;
    height: 100%;
    display: inline-block;
    color: white;
    margin: 10px;
}
.container43{
    position: relative;
    width: 33%;
    height: 100%;
    color: white;
    margin: 10px;
}
.titulo4{
    position: relative;
    font-size: 25px;
    color: white;
    text-align: center;
    height: 10%;
}
.texto4{
    position: relative;
    text-align: center;
    height: 40%;
}

.caja_imagen4{
    position: relative;
    width: 100%;
    height: 50%;
    top: -100px;
    border: 3px solid rgb(255, 255, 255) ;
    
}
.tamaño_imagen4{
    width: 100%;
    height: 100%;
    padding: 15px;
}
.container50{
    width: 100%;
    height: 300px;
    display: flex;
    padding: 0px 20px 0px 20px;
    position: relative;
    top: 50px;
}
.container511{
    position: relative;
    height: 100%;
    width: 25%; 
    border: 2px solid rgb(39, 180, 121);

}
.container51{
    position: relative;
    height: 100%;
    width: 25%; 
    border: 2px solid rgb(39, 180, 121);

}
.barra51{
    position: relative;
    height: 19%;
    width: 100%;
    border: 2px solid rgb( 39, 180, 121);
    color: white;
    text-align: center;
}
.container52{
    position: relative;
    height:300px;
    width: 25%;
    border: 1px solid red;
}
.container54{
    position: relative;
    height:300px;
    width: 49%;
    border: 1px solid red;
    margin: 0px 20px 0px 20px;
    float: left;
}
.barra52{
    position: relative;
    height: 19%;
    width: 100%;
    border: 1px solid red;
    color: white;
    text-align: center;
}
.video5{
    position: relative;
    height: 80%;
}
.container53{
    position: relative;
    width: 100%;
    height: 40%;
    padding: 0px;
    display: flex;
    top: 100px;
}
.container52{
    width: 47%;
    float: left;
    margin: 0px 20px 0px 20px;
}
.tamaño5{
    height: 80%;
    width: 100%;
    padding: 10px; 
}
.contenedor6{
    width: 100%;
    padding: 15px;
}
.formulario6{
    background: #fff;
    position: relative;
    width: 50%;
    height: 450px;
    text-align: center;
    margin: 10px;
    margin: 0 auto;
    top: 50px;
    border-radius: 20px;
}
.formulario7{
    background: #fff;
    position: relative;
    width: 50%;
    height: 350px;
    text-align: center;
    margin: 0 auto;
    border-radius: 20px;
    top: 50px;
}
.icon6{
    padding-top: 14px;
    width: 50px;
    height: 50px;
    text-align: center;
}
input[type="text"], input[type="password"]{
    text-align: center;
    font-size: 24px;
    width: 80%;
    padding: 10px;
    border: none;
}
.input-contenedor6{
    margin-bottom: 15px;
    border: 1px solid white;
    text-align: center;
    
}
.button6{
    border: none;
    width: 100%;
    font-size: 20px;
    color: white;
    background-color: black;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
.button6:hover{
    background-color: blue;
}
.link6{
    text-decoration: none;
    color: black;
    font-weight: 600px;
}
.link6:hover{
    color: blue;
}